.DS_Store
.metadata/
.metadata/.plugins/		
.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/.gitignore
/lib/.project
/.settings/org.eclipse.jdt.core.prefs
*.prefs
*.cfs
.metadata/.plugins/org.eclipse.core.resources/
*.prefs
*.resources
*.tree
*.index
.metadata/.*
.metadata/.log
.metadata/.plugins/
